body {
  background: radial-gradient(circle at top center, #1E2766 0%, #0C0F27 70%);
}

:root {
  --bs-teal: #008080; /* azul-petróleo */
}

.fs-7 {
  font-size: .75rem;
}

.icon-wrapper {
    will-change: transform;
    position: relative;
    transition: 
        transform 0.25s cubic-bezier(.4,0,.2,1),
        background-color 0.2s ease;
    border-radius: 50% !important;
    padding: 6px;
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.edit-fill-icon, .delete-fill-icon {
    position: absolute;
    inset: 0; /* ocupa toda a área */
    display: flex;
    align-items: center;
    justify-content: center; /* centraliza */
    opacity: 0;
}

.icon-wrapper:hover .edit-fill-icon {
  color: #0d6efd; /* azul bootstrap */
}

.icon-wrapper:hover .delete-fill-icon {
  color: #dc3545; /* vermelho bootstrap */
}

/* Hover troca */
.icon-wrapper:hover .edit-icon, .icon-wrapper:hover .delete-icon {
    opacity: 0;
}

.icon-wrapper:hover .edit-fill-icon, .icon-wrapper:hover .delete-fill-icon {
    opacity: 1;
}

.icon-wrapper.editing {
    background-color: #198754; /* verde bootstrap */
    transform: scale(1.08);
}

/* Enquanto editando, esconder ambos ícones originais */
.icon-wrapper.editing .edit-icon,
.icon-wrapper.editing .edit-fill-icon {
    opacity: 0 !important;
}

.icon-wrapper.editing::after {
    content: "\F26E"; /* bi-check-lg */
    font-family: "bootstrap-icons";
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2rem;
}

/* Hover enquanto editando (verde mais escuro) */
.icon-wrapper.editing:hover {
    background-color: #157347;
}

.device-name-input {
    transition: all 0.25s ease;
}

.device-name-input.editing {
    transform: scale(1.03);
    box-shadow: 0 0 0 2px rgba(13,110,253,.25);
}

.bar:hover {
    opacity: 1;
    cursor: pointer;
}

.table-container {
    overflow: hidden;
    transition: max-height 0.3s ease;
    max-height: 500px;
}

.table-container.collapsed {
    max-height: 0;
}

.table-toggle {
    cursor: pointer;
    user-select: none;
}

.data-table td.status-green,
.table td.status-green {
    color: #198754 !important;
}

.table td.status-red {
    color: #dc3545 !important;
}

.table td.status-yellow {
    color: #ffab11 !important;
}

.table td.status-black {
    color: #000000 !important;
    font-weight: 600;
}